@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.container{
    text-align: right;
    margin-right: 20px;
}

.container button{
    margin-top: 10px;
    background: #BF0603;
    color: #fff;
    border-radius: .5rem;
    border: transparent;
    font-size: 1.2rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    transition: .8s;
    font-family: 'Roboto Mono', monospace;
}

.container button:hover{
    background-color: #8D0801;
    border-radius: 2rem;
}

.container input{
    padding: 10px;
    border-radius: 10px;
    border: solid 1px rgb(20, 55, 114);
    width: 300px; /* ancho de la SearchBar */
    height: 15px; /* altura de la SearchBar */
    margin: 10px;
    margin-bottom: 0px;
    font-family: 'Roboto Mono', monospace;
}